<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<% if (locals.user != undefined) { %>
			<%- include("./partials/headerLogueado")%>
		  <%} else{ %>
			<%- include('./partials/header') %>
		  <% }%>
			<!-- /Header -->

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Agregar productos</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<main class="container main-container">
						
						<!-- Formulario de añadir producto -->
						<form class="form" action="/product/add" method="POST">

							<div class="input-container ic1">
								<label for="productImg">Imagen del producto (nombre del archivo):</label>
								<input type="text" class="form-input" id="productImg" name="productImg" required>
							</div>
							<hr>
							<div class="input-container ic1"></div>
								<label for="productName">Nombre del Producto:</label>
								<input type="text" class="form-input" id="productName" name="productName" required>
							</div>
							<hr>
							<div class="input-container ic1">
								<label for="productDescription">Descripción:</label>
								<textarea  id="productDescription"  class="form-input" name="productDescription" required></textarea>
							</div>
					
							<button type="text" class="buy-now-button">Guardar</button>

						</form>



					</main>


					<!-- footer -->
					<%- include('./partials/footer') %>
						<!-- /footer -->
	</body>

</html>