<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			
			<main class="container main-container">
			
				<!-- Formulario de Registro -->
			
				<form class="form" action="/users/login" method="POST">
					<hr>
					<div class="input-container ic1">
						<input id="email" class="form-input" type="email" name="email" placeholder="email" />
					</div>
					<hr>
					<div class="input-container ic1">
						<input id="name" class="form-input" type="text" name="name" placeholder="Usuario" />
					</div>	
					<hr>
					<div class="input-container ic1">
						<input id="password" class="form-input" type="password" name="password" placeholder="Clave" />
					</div>
					<hr>
					<button type="text" class="submit">Crear</button>
				</form>
			
			</main>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>